.custom-link:link,
.custom-link:visited {
  display: inline-block;
  text-decoration: none;
}

.logo:link,
.logo:visited {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-link--cta:link,
.custom-link--cta:visited {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 4px;
  height: 100%;
  padding: 0 1rem;
}

.custom-link--help:link,
.custom-link--help:visited,
.custom-link--navigation:link,
.custom-link--navigation:visited {
  --color: rgba(255, 255, 255);
  color: var(--color);
  transition: 0.3s;
}

.custom-link--help:hover {
  text-decoration: underline;
}

.custom-link--active:link,
.custom-link--active:visited {
  font-weight: 500;
  color: var(--color-primary);
}

@media (max-width: 36rem) {
  .custom-link:link,
  .custom-link:visited {
    width: fit-content;
  }
}
