.movie {
  height: 100%;
}

.movie--active {
  position: relative;
  z-index: 9999;
}

.image__container {
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
