.dashboard {
  position: relative;
  min-height: 100vh;
}

.dashboard__rest {
  position: relative;
  margin-top: -15rem;
  padding-bottom: 10rem;
}

@media (max-width: 400px) {
  .dashboard__rest {
    padding-bottom: 3rem;
  }
}
