:root {
  --color-primary: #e50914;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dividor: #232323;
  --color-border: #808080b3;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-black);
}
