.movies-item {
  position: relative;
  border-radius: 9px;
  overflow: hidden;
  color: var(--color-white);
  background-color: var(--color-black);
  padding-bottom: 5rem;
}

.movies-item__content {
  padding: 1.5rem;
}

.movies-item__title {
  font-size: 1.75rem;
}

.movies-item__actions {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.movies-item__vote {
  --color: #53d853;
  margin-top: 1rem;
  color: var(--color);
}

.movies-item__overview {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.movies-item__genres {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.description {
  line-height: 1.5;
  font-size: 0.9rem;
}

.image {
  width: 100%;
  display: block;
}

@media (max-width: 570px) {
  .movies-item__overview {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
