.hero {
  --height: 38rem;
  position: relative;
  min-height: var(--height);
  padding: 2rem 8rem;
  z-index: 1;
  background-image: url('images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 10px solid var(--color-dividor);
}

@media (max-width: 87.5rem) {
  .hero {
    --height: 38rem;
  }
}

@media (max-width: 71.25rem) {
  .hero {
    padding: 2rem;
  }
}

@media (max-width: 42rem) {
  .hero {
    --height: 32rem;
  }
}
