.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.button--cta,
.button--form {
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 1.25rem 1.125rem;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
}

.button--cta {
  flex-grow: 0.2;
}

.button--form {
  width: 100%;
  margin-bottom: 1rem;
}

.button--faq {
  --background: rgb(45, 45, 45);
  border-bottom: 1px solid var(--color-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  line-height: 1.5;
  width: 100%;
  padding: 2rem 1rem;
  font-size: 1.5rem;
  background-color: var(--background);
  color: var(--color-white);
  text-align: left;

  transition: 0.3s;
}

.button--faq:hover {
  --background: rgb(65, 65, 65);
}

.button--faq svg {
  font-size: 2rem;
}

.button--search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--search svg {
  font-size: 1.5rem;

  color: var(--color-white);
}

.button--sign-out {
  color: var(--color-white);
  font-size: 1rem;
}

.button--more-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  background-color: var(--color-white);
  font-size: 1.125rem;
  border-radius: 4px;
  color: var(--color-black);
}

.button--details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.55rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid var(--color-dividor);
}

.button--details:last-of-type {
  margin-left: auto;
}

.button--details svg {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 500;
}

.button--modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
}

.button--modal-close svg {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 500;
}

.button--video-btn {
  padding: 10px;
  color: var(--color-primary);
}

@media (max-width: 55rem) {
  .button--faq {
    font-size: 1.25rem;
  }
}

@media (max-width: 36rem) {
  .button--newsletter {
    align-self: center;
  }

  .button--faq {
    font-size: 1rem;
  }
}
