.dashboard-hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  color: white;
  background-size: cover;
  background-position: center;
}

.dashboard-hero__content {
  position: relative;
  z-index: 12;
  padding-top: 20rem;
  max-width: 500px;
}

.dashboard-hero__title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1.05;
}

.dashboard-hero__description {
  line-height: 1.5;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
